.container {
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.fileUploadContainer {
    font-size: 30px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    display: block;

    margin-bottom: 50px !important;
}

.fileUploadContainer:hover {
    filter: brightness(0.8);
}

.fileUpload {
    /* display: none; */
}

input[type='file'] {
    display: block;
    color: red;
    font-style: oblique;
}
input[type='file']::file-selector-button {
    display: none;
}

.container div {
    align-items: center;
    justify-content: center;
    display: block;
}

.inference-question-input {
    display: block;
    transform: translateX(35%);
    margin: 10px;
    padding: 10px 20px 10px 20px;
    outline: none;
    width: 50%;
    height: 40px;
    border: none;
}
