.container {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.container h1 {
    align-self: flex-start;
    margin-left: 20%;
    text-align: left;
    width: 60%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.158);
    padding-bottom: 3px;
}

.fileUploadContainer {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    display: block;

    margin-bottom: 50px !important;
}

.fileUploadContainer:hover {
    filter: brightness(0.8);
}

.fileUpload {
    cursor: pointer;
    display: block;
    color: var(--white);
    margin-top: 10px;
    opacity: 0.8;
}

.fileUpload::file-selector-button {
    display: none;
}

.container div {
    align-items: center;
    justify-content: center;
    display: block;
}

.questionInput {
    font-family: var(--font-family);
    background: none;
    color: var(--white);
    border: 1px solid var(--white);
    opacity: 0.6;

    display: block;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    outline: none;
    transition: 0.2s;
    width: 20%;
}

.questionInput:hover {
    opacity: 1;
}

.questionInput:focus {
    opacity: 1;
}

.top {
    display: flex !important;
}
