.wrapper {
    position: relative;
}

button {
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1rem;
    display: block;
    padding: 16px 32px;
    background: inherit;
    background: var(--black);
    color: var(--white);
    border: 0px;

    cursor: pointer;
    border: 1px solid var(--white);
    transition: 0.2s;
}

button:hover {
    filter: brightness(0.9) blur(0.5px);
}
