
:root {
    --black: rgb(27, 27, 27);
    --white: rgb(223, 223, 223);

    --rainbow-gradient: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 25%,
        rgba(255, 154, 0, 1) 30%,
        rgba(208, 222, 33, 1) 35%,
        rgba(79, 220, 74, 1) 40%,
        rgba(63, 218, 216, 1) 45%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 55%,
        rgba(95, 21, 242, 1) 60%,
        rgba(186, 12, 248, 1) 65%,
        rgba(251, 7, 217, 1) 70%,
        rgba(255, 0, 0, 1) 75%
    );

    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: var(--black);
    color: var(--white);

    font-family: var(--font-family);

    margin: 0;
}

/* #region Navbar */

.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar img {
    width: 30px;
    padding: 20px;
    cursor: pointer;
}

.calvin-logo-nav-open {
    padding-right: 200px !important;
    background: var(--black);
    transition: 0.2s;
}

.calvin-logo-nav-open:hover {
    background: linear-gradient(
        90deg,
        var(--yellow-sub-color) 50%,
        var(--black) 50%
    );
}

.navbar-links-container {
    z-index: -1;
    top: 0;
    position: absolute;
    height: 100vh;
    background: var(--white);
}

.navbar-links-container div {
    margin-top: 100px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: var(--black);
    transition: 0.2s;

    padding: 20px 150px 20px 20px;
    display: flex !important;
}

.navbar a:hover {
    color: var(--yellow-sub-color);
    background: var(--black);
}

/* #endregion */

.loading {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);

    align-items: center;
    font-size: larger;
}

.loading svg {
    margin-left: 20px;
    fill: var(--yellow-sub-color);
}
