.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.container h1 {
    margin-top: 50px;
}

.buttonContainer {
    display: flex;
    gap: 16px;
}

.answerContainer {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    padding: 50px;
}

.arrow {
    cursor: pointer;
    transition: 0.2s;
    color: var(--white);
    font-size: 10rem;
}

.arrow:hover {
    opacity: 0.8;
}

.disabled {
    cursor: default;
    opacity: 0.3;
}

.disabled:hover {
    opacity: 0.3 !important;
}

.answerContentContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.scoreContainer {
    align-self: center;
}

.scoreContainer input {
    font-family: var(--font-family);
    background: none;
    color: var(--white);
    border: 1px solid var(--white);
    opacity: 0.6;

    display: block;
    margin: 10px;
    padding: 10px 20px 10px 20px;
    outline: none;
    transition: 0.2s;
    width: 100%;
}

.scoreContainer input:hover {
    opacity: 1;
}

.scoreContainer input:focus {
    opacity: 1;
}
